table
{
 color:green;
 border:2px solid blue;
 border-collapse: collapse;
}
th{
    border:2px solid blue;
}
td{
    border:2px solid blue;
}
div {
    background-color: blue;
    width:100px;
    height:100px;
    margin: 100px;
    padding: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:28px;
    font-weight:bold;
}
