<!DOCTYPE html>
<html>



<head>
<title>3rd</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="3rd.css">
</head>
<body>
    <table>
      <td id="card">
    <div class="card text-white bg-dark mb-3" style="width: 20rem;">
        <img src="mypictrue.png" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Ahmad Mohammad Kamel Ayyad</h5>
          <p class="card-text">Iam studying at hu universty </p>
        <ul class="list-group list-group-flush text-white bg-dark mb-3">
          <li class="list-group-item text-white bg-dark mb-3">i like video games</li>
          <li class="list-group-item text-white bg-dark mb-3">i work really hard</li>
          <li class="list-group-item text-white bg-dark mb-3">still working on javascript skills</li>
        </ul>
      </td>
    <td id="image">
      <img src="Twitck_-_Epic.jpg" width=500>
    </td>
    </table>

  </div>      
</body>



</html>