section{
    background-color: blue;
}
ol > li{ /* it changes the immediate childeren after ol that named li*/
    color:blue;
}
input[type="text"]{
    color:#ff000f;
}
input[type="number"]{
    color:green;
}
button {
    width: 100px;
    height:50px;
   color:black;
   font-size: 24px; 
}
button:hover{
    background-color: red;
}
a::before{
   content:"\21d2 click here ";
   font-weight:bold;
}