section{
    background-color: blue;
}
ol > li{ /* it changes the immediate childeren after ol that named li*/
    color:blue;
}
input[type="text"]{
    color:#ff000f;
}
input[type="number"]{
    color:yellow;
}
