section{
    background-color: blue;
}
ol > li{ /* it changes the immediate childeren after ol that named li*/
    color:blue;
}
input[type="text"]{
    color:#ff000f;
}
input[type="number"]{
    color:green;
}
button {
    width: 100px;
    height:50px;
   color:black;
   font-size: 24px; 
}
button:hover{ /* makes it so when ever you hover over a certain thing it responds*/
    background-color: red;
}
a::before{
   content:"\21d2 click here ";
   font-weight:bold;
}
p::selection{ /*makes it so when you highlight the element it does certain styling */
    color:red;
    background-color: black;
}
@media print{
    .screen-only{
        display:none;
    }
}
/* usefull css selectors
a,b multiple element selector
a b descendent selector
a>b child selector
a+b adjacent sibling selector
[a=b] attripute selector
a:b pseudoclass selector
a::b pseudoelement selector
 */